@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Dancing+Script&family=Roboto:ital,wght@1,100&display=swap");

.form {
    background-color: white;
    border-radius: 10px;
    padding: 4.5em 2em;
    box-shadow: 0px 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* Puedes agregar este margen opcionalmente para ajustarlo */
    margin-left: auto;
    margin-right: auto;
}
.form_title{
    font-size: 2rem;
}
.form_container{
    margin-bottom: 3em;
    display: grid;
    gap: .5em;
}
.form_group{
    position: relative;
}
.form_input{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 100%;
    color: gray;
    padding: .5rem .3rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
    transform: translateY(-12px) scale(.8) ;
    transform-origin: left top;
    color: rgb(135, 9, 238);
}
.form_label{
    color: rgb(138, 137, 137);
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, gray .3s;
}
.form_submit{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 3rem;
    background-color: #460789;
    color: white;
    cursor: pointer;
    padding: .8em 4em;
    border: none;
    border-radius: 5px;

}
.form_submit:hover{
    background-color: #8f30f5;
}
.form_submit:active{
    background-color: #be87f9;
}