*{
    margin: 0;
    padding: 0;
    font-family: 'impact' serif;
}
body{
    background: url("../img/black.jpg") fixed no-repeat;
}
#contenedor{
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.699);
    /*background: linear-gradient(90deg, rgb(64, 22, 90) 0%, rgb(84, 30, 121)51%, rgb(65, 17, 113) 100%) fixed no-repeat;*/
}
p{
    font-size: 20px;
    text-align: center;
}
h1{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    text-shadow: -5px 2px 5px rgba(243, 243, 243, 0.9);
}
h2 {
    text-align: center;
    margin: 30px 300px 0px 300px;
    padding: 5px 0px 5px 0px;
    background-color: #ffffff; 
    color: #fff;
    font-size: 22px;
    box-shadow: 0 1px 8px rgb(255, 255, 255);
    margin-bottom: 20px;
    text-shadow: -5px 2px 5px rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
#texto p{
    color: #5e5a5a;
    text-shadow: -5px 2px 5px rgba(255, 255, 255, 0.9);
    font-size: 30px;
    padding: 15px;
}
/*
#menu{
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: center;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}
#menu a{
    text-decoration: none;
    color:black
}
#menu ul{
    list-style-type: none;
}
#menu li {
    float:left;
    margin: 10px 15px;
    padding: 5px;
}*/
.imagene{
    margin-top: -60px;
    height: auto;
    width: 20%;
}
#menu{
    background-color: #333; 
    color: #fff;
    padding: 20px;
    box-shadow: 0 1px 8px rgb(255, 255, 255);
    text-align: start;
    border-radius: 5px;
    font-family: 'r', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
}
.menu-list{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 1200px;
}
.menu-item {
    margin: 20px 20px;
}
.menu-item a {
    text-shadow: -5px 2px 5px rgba(1, 0, 0, 0.9);
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    position: relative;
}
.menu-item a:hover{
    color: rgb(64, 35, 73);
}
#menu img{
    width: 150px;
    height: 100px;
    position: relative;
}
#contenido{
    height: 0 auto;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 1px 8px rgb(255, 255, 255);
}
#contenido button{
    position: relative;
    padding: 1em 1.5em;
    color: #fff;
    font-size: 23px;
    border-radius: 80vmax;
    background-color: transparent;
    border: 8px solid #ffffff;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 100px;
}
#contenido a{
    text-decoration: none;
    color: rgb(255, 255, 255);   
    text-shadow: rgb(255, 255, 255);
}
#pie{
    background-color: #333; 
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 1px 5px rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    text-align: start;
    font-family: 'Bebas Neue', sans-serif;
}
.pie-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 1200px;
}
.pie-item {
    text-shadow: -5px 2px 5px rgba(1, 0, 0, 0.9);
    text-decoration: none;
    color: #fcfaff;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 60px;
}
#botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-right: 100px;
}
#botones button a:hover{
    color: rgb(64, 35, 73);
}
#estrenos{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-right: 45px;
    margin-top: 50px;
    margin-left: 40px;
}
#item{
    background-color: rgb(224, 120, 0);
    border: 4px solid white;
    background: linear-gradient(blueviolet, indigo);
    width: 220px;
    height: 320px;
    margin: 30px;
    font-size: 19px; 
    align-items: center;
    box-shadow: 15px 15px 5px rgba(255, 255, 255, 0.5);
    border-radius: 20px 20px 20px 20px;
}
#estrenos img{
    width: 190px;
    height: 240px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
}

/* */

.center{
    text-align: center;
}

/*h1{
    padding: 50px;
    margin: 30px;
    text-align: center;
    text-decoration: underline;
    font: 100px 'Courier New', Courier, monospace;
}

h2{
    padding: 25px;
    margin: 15px;
    font: 50px 'Courier New', Courier, monospace;
} */ 

h3{
    padding: 25px;
    margin: 15px;
    text-transform: uppercase;
}

li {
    margin: 10px 0px 0px 20px;
    
}

dl {
    padding-left: 20px;
}

dt {
    font-weight: bold;
    margin: 5px 0;
}

dd {
    margin: 5px 0;
}

ul {
    color:#fff;
    list-style: none; 
}

ul li:before {
    content: " "; 
    display: inline-block;
    width: 18px;
    height: 18px; 
    background: url('otra.jpg') no-repeat; 
    background-size: contain; 
    margin-right: 5px; 
    border-radius: 30%;
}