table{
    background-color: rgb(199, 191, 191);
    border-collapse: collapse;
    border: 15px solid rgb(37, 20, 42);;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 45px;
    margin-bottom: 45px;
}
caption{
    font-size: 25px;
    text-shadow: -5px 2px 5px rgba(1, 0, 0, 0.9);
    color: #fff;
}